a {

    font-size:20px;
}
b {

    font-size: 20px;
}
p {

    font-size: 20px;
}

c {
    font-size: 15px;
    text-align: left;
}

FAQ {

    color: black;
}
caption {

    font-size: 20px;
}
.description {
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 1%;
    text-align: center;
    font-size: 1px;
}