.footer {
    background-size: contain;
    width: fit-content;
    height: fit-content;
    position: sticky;
    bottom: 0%;
    left: 0%;
    padding: 1%;
    text-align: left;
    font-size: 2vw;
}

.footer:hover {

    height: fit-content;
    font-size: 3vw;
    
}
.material-icons:hover {
 box-shadow: 5px 5px 5px;
 border-radius: 20px;
}
