.footer {
    background-size: contain;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 2%;
    left: 2%;
    padding: 1%;
    text-align: left;
    font-size: 1vw;
}

.footer:hover {

    height: fit-content;
    
}
.material-icons:hover {
 box-shadow: 5px 5px 5px;
 border-radius: 20px;
}