.job {

    display:flexbox;
    background-color:rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius:20%;
    border-top-right-radius: 20%;

}
.hoursinfo{
    display: flexbox;
    background-color: bisque;
    position:relative;
    margin-left: 40%;
    border: 10px double green;
    background-size: contain;
    width: fit-content;
    border-radius: 20px 20px 20px 0px;
    padding: 1%;
    font-size: 10px;
    text-align: center;
}
.hoursinfo:hover {
    width: fit-content;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.info {

    display:flexbox;
    background-color:rgba(0, 0, 0, 0.2);
    margin-left: 1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.rowsinfo {
    margin: 20px 20px;
}

/* Add padding BETWEEN each column */
.rowsinfo,
.rowsinfo>.columnsinfo {
    padding: 30px;
}

/* Create four equal columns that floats next to each other */
.columnsinfo {
    float: left;
    width: 20%;
}

/* Clear floats after rows */
.rowsinfo:after {
    content: "";
    display: table;
    clear: both;
}

