.skills {
    display: flexbox;
    background-color: bisque;
    border: 10px double black;
    background-size: contain;
    width: fit-content;
    border-radius: 0px 0px 20px 20px;
    padding: 1px;
    margin-right: 20px;
    font-size: 1vw;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.skills:hover {

    font-weight: bolder;
    font-size: 2vw;
}

.criteria {
    display: flexbox;
    background-color: bisque;
    border: 10px double black;
    background-size: contain;
    width: fit-content;
    border-radius: 0px 0px 20px 20px;
    padding: 1px;
    margin-right: 20px;
    margin-left: 55px;
    font-size: 1vw;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.5);

}

.criteria:hover {

    font-weight: bolder;
    font-size: 2vw;
}

.learning {
    display: flexbox;
    background-color: bisque;
    border: 10px double black;
    background-size: contain;
    width: fit-content;
    border-radius: 0px 0px 20px 20px;
    padding: 1px;
    margin-right: 20px;
    font-size: 1vw;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.5);

}

.learning:hover {
    font-weight: bolder;
    font-size: 2vw;
}