.skills {
    display: flexbox;
    background-color: bisque;
    border: 10px double green;
    background-size: contain;
    width: 40%;
    border-radius: 2px 24px;
    padding: 10px
}

.criteria {
    display: flexbox;
    background-color: bisque;
    border: 10px double green;
    background-size: contain;
    width: 40%;
    border-radius: 2px 24px;
    padding: 10px left: 15%;

}