.topnav a {
    position: fixed;
    background-color: aliceblue;
    top: 0%;
    left: 1%;
    height: 25px;
    width: auto;
    color: black;
    text-align: right;
    font-size: 4vw;
    padding-right: 1%;
    padding-top: 1%;
}
