.topnav {
    background-size: contain;
    width: max-content;
    height: max-content;
    position: sticky;
    top: 1%;
    left: 0%;
    padding: 1%;
    text-align: left;
}


.call {
    display: flexbox;
    background-size: contain;
    width: fit-content;
    position: sticky;
    left: 1%;
    top: 1%;
    margin-left: 1%;
    text-align: left;
    font-size: 40px;
    font-style: italic;
    text-shadow: 5px 5px black;
    color: red;
    text-transform: lowercase;
}

.call:hover {
 
    color: black;
    text-transform: uppercase;
}